body, html { 
    width: 99%;
    height: 99%;
}
body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#encrypted-packge{
    height: 30px;
    width:300px;
    margin-bottom: 15px;
    border: 2px solid black;

}
#submit{
    height: 40px;
    width:120px;
    padding:0px;
    background-color:greenyellow;
    font-size: 20px;
    border-radius: 8px;
    font-family: 'Koulen', cursive;
    color: rgb(0, 0, 0);
    border: 2px solid black ;
}
button#submit:hover {
    background: rgb(212, 255, 112);
  }

.info-text{
    display: none;
    font-family: 'Koulen', cursive;
    color:rgb(250, 187, 71);
    background:rgb(71, 70, 70);
    margin-bottom:15px;
    border-radius: 8px;
    padding:0px 10px;
    font-size: 19px;
  }

